.itemWrapper {
    display: flex;
    gap: 24px;
}

.infoWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}

.photo {
    width: 292px;
    height: 320px;
    border-radius: 10px;
    object-fit: cover;
}

.favouriteWrapper {
    display: flex;
    gap: 12px;
    align-items: center;
}

.nameWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33;
    color: var(--main);
}

.nameTitle {
    max-width: 360px;
}

.ratingWrapper {
    display: flex;
    gap: 4px;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--main);
}

.reviews {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-underline-offset: 2px;
    margin-right: 16px;
}

.itemDescription {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--text);
}

.itemButton {
    border-radius: 200px;
    width: 166px;
    height: 56px;
    background-color: var(--button);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.01em;
    color: var(--white);
}

.itemButton:hover {
    background-color: var(--button-hover);
}